.stack-container {
  position: relative;
  perspective: 600px;
  transform: translate(-10%);
}

.card-rotate {
  position: absolute;
  cursor: grab;
}

.card {
  border-radius: 20px;
  border: 4px solid black; /* Changed from white to black */
  overflow: hidden;
  box-shadow:
    0 -2px 12px rgba(255, 0, 255, 0.25),   /* Magenta Top Glow */
    0 2px 12px rgba(0, 255, 255, 0.25);    /* Cyan Bottom Glow */
  transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
  box-shadow:
    0 -4px 24px rgba(255, 0, 255, 0.5),    /* Stronger Magenta Glow */
    0 4px 24px rgba(0, 255, 255, 0.5);     /* Stronger Cyan Glow */
}

.card-image {
  pointer-events: none;
  width: 100%;
  height: 100%;
  object-fit: cover;

}
